.footer-container {
  .footer {
    padding: 1rem;

    .icons-container {
      display: grid;
      grid-template-columns: repeat(3, 6rem);
      justify-content: center;
      justify-items: center;
      grid-gap: 3rem;

      .icon {
        width: 4rem;
      }
    }
  }
}
